.detail-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .detailpage-container {
    margin-bottom: 100px; /* 원하는 여백 크기로 수정해 주세요 */
  }

  .detailpage-heading {
    font-weight: bold;
    font-size: 36px;
    color: #896b48; /* HEX 코드로 원하는 색상을 지정합니다 */
  }
  