.payment-container {
  margin-bottom: 100px; /* 원하는 여백 크기로 수정해 주세요 */
}

  .payment-heading {
    font-weight: bold;
    font-size: 36px;
    color: #896b48; /* HEX 코드로 원하는 색상을 지정합니다 */
  }

  .button-container {
    display: flex;
    gap: 5mm;
    justify-content: center;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
  }
  
  .button img {
    width: 100%;
    height: auto;
  }
  
  